@font-face {
    font-family: 'heavy_dataregular';
    src: url('fonts/heavy_data-webfont.woff2') format('woff2'),
         url('fonts/heavy_data-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


*{
    margin: 0;

}
.container-left a{
    color: white;
}


.container{
    display: flex;
}
.container-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    background-image: url(img/background.jpg);
    height:100vh;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}


.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20vh;
    padding: 1vh 5vw;
    background-color: rgb(0 0 0 / 25%);
}
.banner p{
    color: white;
    font-family: "heavy_dataregular";
    font-size: 4rem;
}
.banner img{
    height: 100px;
}
.credits{
    color: white;
    text-align: center;
    font-size: 1rem;
}



.container-right{
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    background-color: rgb(249, 250, 251);


}
.header{
padding-left: 5vw;
font-family: system-ui;
font-size: large;
font-weight: 500;
width: 53ch;
margin-top: 15vh;

}
.form{
    margin-top: 5vh;
    padding-left: 5vw;
    background-color: white;
    margin-bottom: 3vh;
}
.row1,
.row2,
.row3{
    display:flex;
    gap: 10vw;
    margin: 10px 0;
}
.form-div{
    display: flex;
    flex-direction: column;
}

fieldset{
    border: none;
    padding: 0;
}
legend{
    font-size: 1.5rem;
    color: rgb(31, 41, 55);


}
label{
    font-size: 0.8rem;
    font-weight: 100;   
    color: rgb(31, 41, 55);
}

.form-div input{
    background-color: #fffefe;
    border: 1px solid #E5E7EB;
    border-radius: 3px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
    outline: none;

}

.form-div input:focus{
    border: 1px solid blue;
    box-shadow: 1px 1px 5px 0px rgb(0 0 0 / 35%);

}

.form-div input:invalid{
    border: 1px solid red;
}
.form-div input[type='password']:invalid + span::after{
    content: 'Password must be at least 8 characters long';
    color: red;

}

button{
    background-color: #596D48;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    margin-left: 5vw;
    margin-bottom: 3vh;
    color: white;
    font-size: 1rem;
    font-weight: 800;

}
.button p{
    margin-left: 5vw;

}
.button a{
    color: #596D48;
    text-decoration: none;
}